/node_modules
/public/hot
/public/storage
/storage/*.key
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
NavyFoodApp/.idea/workspace.xml
Documentation/Information/~$stPlan.docx
Documentation/Information/~$quirements Document.docx
NFA/.vs/NFA/DesignTimeBuild/.dtbcache
NFA/.vs/NFA/v16/.suo
*.props
NFA/NFA/NFA.Android/obj/Debug/90/designtime/Resource.designer.cs
*.cache
*.flata
NFA/NFA/NFA.Android/obj/NFA.Android.csproj.nuget.dgspec.json
NFA/NFA/NFA.Android/obj/NFA.Android.csproj.nuget.dgspec.json
NFA/NFA/NFA.Android/obj/project.assets.json
