/node_modules
/public/hot
/public/storage
/storage/*.key
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
NavyFoodApp/.idea/workspace.xml
Documentation/Information/~$stPlan.docx
Documentation/Information/~$quirements Document.docx
NFA/NFA/NFA.iOS/obj/iPhoneSimulator/Debug/DesignTimeResolveAssemblyReferencesInput.cache
NFA/NFA/NFA.iOS/obj/project.assets.json
NFA/NFA/NFA.iOS/obj/NFA.iOS.csproj.nuget.g.props
NFA/NFA/NFA.iOS/obj/NFA.iOS.csproj.nuget.dgspec.json
NFA/NFA/NFA.Android/obj/project.assets.json
NFA/NFA/NFA.Android/obj/NFA.Android.csproj.nuget.g.props
NFA/NFA/NFA.Android/obj/NFA.Android.csproj.nuget.dgspec.json
NFA/NFA/NFA/obj/NFA.csproj.nuget.dgspec.json
NFA/NFA/NFA/obj/NFA.csproj.nuget.g.props
NFA/NFA/NFA/obj/project.assets.json
NFA/NFA/NFA/obj/NFA.csproj.nuget.dgspec.json
NFA/.vs/NFA/v16/.suo
